<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Your score is: {{ score }}</title>
    </head>
    <body>
        <div class = 'container'>
            <div class='jumbotron'>
                <h2>Your word score is:</h2>
                <h1>{{ score }}</h1>
                <h3>You are a ________!</h3>
            </div>
        </div>
    </body>
</html>
