<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Scrabble Score Calculator</title>
    </head>
    <body>
        <div class = 'container'>
            <div class='jumbotron'>
                <h1>Scrabble Score Calculator</h1>
            </div>
        </div>
        <div class = 'container'>
            <form action='/results'>
                <div class='form-group'>
                    <label for='word'>Type in a word!</label>
                    <input id='word' name='word' class='form-control' type='text' placeholder='qwerty'>
                </div>
                <div class='form-group'>
                    <input type='radio' name='mult' value=0>No multipler<br>
                    <input type='radio' name='mult' value=1>Double Word<br>
                    <input type='radio' name='mult' value=2>Triple Word
                </div>
                <button type='submit' class='btn-success'>Check!</button>
            </form>
        </div>
    </body>
</html>
